<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O QUE PODEMOS FAZER PELA SUA EMPRESA?</h2>
                <hr color="red" class="light">
                <p class="text-faded">Consultoria empresarial em redução de custos e aumento de produtividade. Cuidando do patrimônio de sua empresa com responsabilidade!</p>
                <a href="#" class="btn btn-default btn-xl" >ATIVO CONTABILIDADE</a>
            </div>
        </div>
    </div>
</section>

