<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<%= image_tag "ativo_logo.png", size: "1016x305", class: "style_image" %>
            <!-- <h3>Ativo Contabil</h3> -->
            <!-- <h1><font color="red">Assessoria e Consultoria</font></h1> -->
            <hr>
            <p>Escolha para sua empresa uma Contabilidade com Responsabilidade</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">ENTRE EM CONTATO</a>
        </div>
    </div>
</header>

