<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">NOSSOS SERVIÇOS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn text-primary"></i>
                    <h3>CONSULTORIA CONTÁBIL</h3>
                    <p class="text-muted">Gestão e consultoria de patrimônio, com responsabilidade e objetivo. Aumentando a performance contábil da sua empresa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>TRABALHISTA E PREVIDENCIÁRIO</h3>
                    <p class="text-muted">Administração Pessoal. Cálculos trabalhistas e previdenciários, controle de admissões, demissões e rotinas mensais.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>FISCAL E TRIBUTÁRIO</h3>
                    <p class="text-muted">Administração fiscal e tributária. Agenda fiscal, redução de custos e adequação fiscal para sua empresa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-signal wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>AUDITORIA</h3>
                    <p class="text-muted">Planejamento e execução de auditoria fiscal e contábil. Com o objetivo de preservar o patrimônio empresarial.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- fa-user:before

fa-user-md:before {

fa-user-secret:before {

fa-user-plus:before {
 
fa-user-times:before {
 
 -->